flask
langchain
openai
pinecone
pypdf
python-dotenv
langchain-community
langchain-pinecone
langchain-openai
langchain-core
langchain-experimental
langchain-community
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
pcsk_5GWKZ9_TVPg6uEYFsVJR72xqoJF7xbxXTQSNccVEp1tcgY5xfSN4jfeizfz9A2EpaRMhLE
llm-slm-models